name: Build & Test

on:
  workflow_dispatch:
    inputs:
      scope:
        type: choice
        description: 'Scope the workflow should run with. Allowed values are: all, build-only, integration-test-only'
        default: 'all'
        options:
          - all
          - build-only
          - integration-test-only
      channel:
        type: string
        description: 'Charm channel to use. If not given, use the local build charm for testing'
        default: ''
  workflow_call:
    inputs:
      scope:
        type: string
        description: 'Scope the workflow should run with. Allowed values are: all, build-only, integration-test-only'
        default: 'all'
      cache:
        description: Whether to use cache for faster builds
        default: false
        type: boolean
      channel:
        type: string
        description: 'Charm channel to use. If not given, use the local build charm for testing'
        default: ''

jobs:
  static-and-unit-tests:
    name: Static & Unit tests
    if: inputs.scope != 'integration-test-only'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install dependencies
        run: python3 -m pip install tox
      - name: Run linters
        run: tox -e lint
      - name: Run tests
        run: tox -e unit

  collect-platforms:
    name: Collect supported platforms for charm
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Assign charm artifacts to runners
      id: charm-to-runner
      run: |
        # Reverse lookup for artifact base index to its architecture
        ./scripts/get-runners.py
    outputs:
      platforms: ${{ steps.charm-to-runner.outputs.platforms }}

  build:
    name: 'Build ${{ matrix.platform.charm_name }}-${{ matrix.platform.arch }}'
    if: inputs.scope != 'integration-test-only'
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJSON(needs.collect-platforms.outputs.platforms) }}
    needs:
      - collect-platforms
      - static-and-unit-tests
    env:
      CRAFT_SHARED_CACHE: /tmp/charmcraft
    runs-on: ["self-hosted", "linux", "${{ matrix.platform.arch == 'amd64' && 'X64' || 'ARM64' }}", "jammy", "large"]
    timeout-minutes: 120
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup LXD
        uses: canonical/setup-lxd@a3c85fc6fb7fff43fcfeae87659e41a8f635b7dd # v0.1.3
        with:
          channel: 5.21/stable
      - name: Install charmcraft and charmcraftcache
        run: |
          sudo snap install --classic --channel=latest/stable charmcraft
          sudo apt install -y pipx
          pipx install charmcraftcache==0.6.3
      - name: Cache Deps
        id: cache-charm-deps
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ env.CRAFT_SHARED_CACHE }}/**
          key: charm-deps-${{ matrix.platform.arch }}-${{ hashFiles('**/requirements.txt') }}
      - name: Build charm
        id: build_charm
        env:
          VERSIONS: ${{ join(matrix.platform.versions, ' ') }}
        run: |
          for version in $VERSIONS ; do
            platform=ubuntu@${version}:${{ matrix.platform.arch }}
            cmd=charmcraft
            if '${{ inputs.cache }}' ; then
              cmd=charmcraftcache
            fi
              "$cmd" pack \
              --platform="$platform" \
              --verbose
          done
          # Make the created cache dir accessible by user to enable it to be
          # cached later on
          sudo chown -R "$USER" ${CRAFT_SHARED_CACHE}
      - name: Upload charmcraft logs
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: logs-charmcraft-build-base-${{ matrix.platform.charm_name }}-${{ matrix.platform.arch }}
          path: ~/.local/state/charmcraft/log/
          if-no-files-found: error
      - name: Upload charm package
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.platform.charm_name }}-charm-${{ matrix.platform.arch }}
          # .empty file required to preserve directory structure
          # See https://github.com/actions/upload-artifact/issues/344#issuecomment-1379232156
          path: |
            ./*.charm
          if-no-files-found: error

  integration-test:
    name: Integration tests
    if: ${{ always() && contains(needs.*.result, 'success') && (inputs.scope == 'integration-test-only' || inputs.scope == 'all') }}
    needs:
      - static-and-unit-tests
      - collect-platforms
      - build
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        juju-version:
          - "3.6"  # renovate: latest juju 3
          - "2.9"  # renovate: latest juju 2
        platform: ${{ fromJSON(needs.collect-platforms.outputs.platforms) }}
    runs-on: ["self-hosted", "linux", "${{ matrix.platform.arch == 'amd64' && 'X64' || 'ARM64' }}", "jammy", "large"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Download packed charm(s)
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        id: downloaded-charm
        if: inputs.scope == 'all'
        with:
          name: ${{ matrix.platform.charm_name }}-charm-${{ matrix.platform.arch }}
      - name: Set channel
        run: |
          juju_channel=$(echo "${{ matrix.juju-version }}" | cut -c 1-3)
          echo "JUJU_CHANNEL=${juju_channel}/stable" >> "$GITHUB_ENV"
          echo "JUJU_VERSION=${{ matrix.juju-version }}" >> "$GITHUB_ENV"
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          provider: lxd
          juju-channel: "${{ env.JUJU_CHANNEL }}"
      - name: Install jq
        run: |
          sudo apt install -y jq
      - name: Run integration tests
        run: |
          mkdir logs/
          args="--crash-dump-output logs/ "
          if [ "${{ matrix.platform.arch }}" == "arm64" ]; then
            args+="--constraints arch=arm64"
          fi

          channel="${{ inputs.channel }}"
          if [ -n "$channel" ]; then
            echo "${{ toJSON(matrix.platform.versions) }}" | jq -r '.[]' | while read -r version; do
              ./scripts/run-integration-tests --charm-channel="$channel" --base-version="$version" ${args}
            done
          else
            ls *.charm | xargs -I {} ./scripts/run-integration-tests --charm=./{} ${args}
          fi
      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: logs-tests-${{ matrix.platform.charm_name }}-charm-juju-${{ env.JUJU_VERSION }}-${{ matrix.platform.arch }}
          path: logs/
          retention-days: 4
      # FIXME: The current post actions-operator tries to upload any artifact called
      # juju-crashdump-* with name juju-crashdump which github is not happy with.
      # so we remove the files before the cleanup so that the cleanup does not
      # fail.
      - name: Remove logs if present
        if: failure()
        run: |
          rm -rf logs/juju-crashdump-*
