name: Promote Charms & Bundles

on:
  workflow_call:
    secrets:
      CHARMHUB_TOKEN:
        required: true
    inputs:
      from-risk:
        type: string
        description: 'Charmhub channel risk to promote from'
        default: ''
      to-risk:
        type: string
        description: 'Charmhub channel risk to promote to'
        default: ''

jobs:
  promote-charms-and-bundles:
    environment: ${{ contains(inputs.to-risk, 'stable') && 'stable' || null }}
    name: Promote charms
    runs-on: [self-hosted, linux, X64, jammy, large]
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Install dependencies
      run: |
        sudo apt install  -y zip
        sudo snap install --classic --channel=latest/stable charmcraft
        sudo snap install --channel=3/stable juju
    - name: Select charmhub track
      id: track
      run: |
        track="$(cat .track)"
        echo "track=$track" >> "$GITHUB_OUTPUT"
    - name: Promote charms
      env:
        CHARMCRAFT_AUTH: ${{ secrets.CHARMHUB_TOKEN }}
      run: |
        track="${{ steps.track.outputs.track }}"
        for arch in amd64 arm64; do
          for series in jammy noble ; do
            ./scripts/promote-charms.sh \
              --from="${track}"/${{ inputs.from-risk }} \
              --to="${track}"/${{ inputs.to-risk }} \
              --series="${series}" \
              --arch="${arch}"
          done
        done

